html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('C:/Users/Dell PC/Desktop/Images for projets/pexels-arts-1496372.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}  
body::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    padding: 10px;
}


h1, h2 {

    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1.2em;
}


ul, ol {
    margin: 20px auto;
    padding: 0;
    max-width: 600px;
    background: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
}

ul li, ol li {
    margin: 10px 0;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table, th, td {
    border: 1px solid #ccc;
    color: lightslategray;
}
p{
    color: white;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: x-large;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255,255,255,0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form p {
    margin: 10px 0;
}

form input[type="radio"], form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    transition: transform 0.3s, opacity 0.3s;
    display: block;
    width: 100%;
    padding: 10px;
    background: salmon;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    transform: scale(1.02);
    opacity: 1;
    background: darksalmon;
}

address {
    text-align: center;
    margin: 0;
}

address p {
    margin: 0;
}
address a{
    color: salmon;
    text-decoration: none;
}
.center{
    text-align: center;
    padding: 0;
}
.center img {
    transition:transform 0.3s, opacity 0.3s;
}
.center img:hover {
    transform: scale(1.2);
    opacity: 1;
}
.center-icons{
    text-align: center;
    padding: 0;
}
.center-icons li{
    display:inline;
    margin: 0 10px;
}
.center-icons img {
    transition: transform 0.3s, opacity 0.3s;
}
.center-icons img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.email {
    font-size: small;
}

.dimmed {
    background-color: rgba(0,0,0,0.3);
}
.dimmed > label{
    color:white;
}
.dimmed > li{
    color:white;
}

