body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 60px;
}

.wrapper {
  background: linear-gradient(to right, #ef5706, #f0a500);
  color: #fff;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

#count {
  font-size: 60px;
  margin: 20px 0;
  transition: all 0.4s ease;
  color: #fff;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #0056b3;
}
h1 {
  color: #fff;
}